---
const { title = "Title", subtitle = "" } = Astro.props;
---
<header class="head">
  <h2 class="h2">{title}</h2>
  {subtitle && <p class="p">{subtitle}</p>}
</header>

<style>
  .head{
    margin-bottom: 28px;
    max-width: 760px;
  }
</style>
